<header>
    <div class="contenedor">
        <nav class="menu">
            <a (click)="goTo('acerca-de')" style="cursor: pointer;" id="btn-acerca-de">Acerca de</a>
            <a (click)="goTo('trabajos')" style="cursor: pointer;" id="btn-trabajos">Trabajos</a>
            <!-- <a href="#">Contactos</a> -->
            <!-- Se utilizará más adelante cuando se implemente un sistema de contacto -->
        </nav>
        <div class="contenedor-texto">
            <div class="texto">
                <h1 class="nombre">Baldonic</h1>
                <h2 class="profesion">Soluciones de software</h2>
            </div>
        </div>
    </div>
</header>